<section th:fragment="header">
	<!-- top -->
	<div class="container">
		<div class="logo">
			<a href="index.jsp">企业资产管理系统</a>
		</div>
		<div class="left_open">
			<i title="展开左侧栏" class="iconfont">&#xe699;</i>
		</div>
		<ul class="layui-nav right">
			<li class="layui-nav-item"><a href="javascript:;">${userName}</a>
				<dl class="layui-nav-child">
					<!-- 二级菜单 -->
					<dd>
						<a onclick="x_admin_show('个人信息','http://www.baidu.com')">个人中心</a>
					</dd>
					<dd>
						<a href="indexController/exitLogin.do">退出登录</a>
					</dd>
				</dl></li>
			<li class="layui-nav-item to-index"><a href="index.jsp">系统首页</a></li>
		</ul>
	</div>
	
	<!-- left -->
	<div class="left-nav">
		<div id="side-nav">
			<ul id="nav">
				<!-- <shiro:hasRole name="eme"> -->
				<li>
					<a href="javascript:;">
						<i class="iconfont">&#xe6b8;</i>
						<cite>职工管理</cite>
						<i class="iconfont nav_right">&#xe697;</i>
					</a>
					<ul class="sub-menu">
						<li>
							<a _href="/account/userList">
								<i class="iconfont">&#xe6a7;</i>
								<cite>用户管理</cite>
							</a>
						</li>
						<li>
							<a _href="/organization/organizationPage">
								<i class="iconfont">&#xe6a7;</i>
								<cite>组织结构</cite>
							</a>
						</li>
						<li>
							<a _href="manageEmeController/toDepartList.do">
								<i class="iconfont">&#xe6a7;</i>
								<cite>部门管理</cite>
							</a>
						</li>
						<li>
							<a _href="manageEmeController/toDepartList.do">
								<i class="iconfont">&#xe6a7;</i>
								<cite>部门管理111</cite>
							</a>
						</li>
					</ul>
				</li>
				<!-- </shiro:hasRole> -->
				
				<!-- <shiro:hasRole name="authr"> -->
				<li>
					<a href="javascript:;">
						<i class="iconfont">&#xe629;</i> 
						<cite>权限管理</cite>
						<i class="iconfont nav_right">&#xe697;</i>
					</a>
					<ul class="sub-menu">
						<li>
							<a _href="roleController/toUserRole.do">
								<i class="iconfont">&#xe6a7;</i>
								<cite>职工权限分配</cite>
							</a>
						</li>
						<li>
							<a _href="roleController/toDepart.do">
								<i class="iconfont">&#xe6a7;</i>
								<cite>部门权限分配</cite>
							</a>
						</li>
					</ul>
				</li>
				<!-- </shiro:hasRole> -->
				
				<!-- <shiro:hasRole name="asset"> -->
				<li>
					<a href="javascript:;"> 
						<i class="iconfont">&#xe607;</i> 
						<cite>我的资产</cite>
						<i class="iconfont nav_right">&#xe697;</i>
					</a>
					<ul class="sub-menu">
						<li>
							<a _href="applyController/showApplyByUserName.do">
								<i class="iconfont">&#xe6a7;</i>
								<cite>在用资产</cite>
							</a>
						</li>
						<li>
							<a _href="applyController/addApply.do">
								<i class="iconfont">&#xe6a7;</i>
								<cite>资产申请</cite>
							</a>
						</li>
						<li>
							<a _href="porchaseController/showPorchaseByUserName.do">
								<i class="iconfont">&#xe6a7;</i>
								<cite>采购资产</cite>
							</a>
						</li>
					</ul>
				</li>
				<!-- </shiro:hasRole> -->
				
				<!-- <shiro:hasRole name="process"> -->
				<li>
					<a href="javascript:;"> 
						<i class="iconfont">&#xe602;</i> 
					 	<cite>流程管理</cite>
						<i class="iconfont nav_right">&#xe697;</i>
					</a>
					<ul class="sub-menu">
						<li>
							<a _href="porchaseController/showPorchase.do">
								<i class="iconfont">&#xe6a7;</i>
								<cite>采购批准</cite>
							</a>
						</li>
						<li>
							<a _href="applyController/showAllapply.do">
								<i class="iconfont">&#xe6a7;</i>
								<cite>申请批准</cite>
							</a>
						</li>
						<li>
							<a _href="maintainController/showallmaintain.do">
								<i class="iconfont">&#xe6a7;</i>
								<cite>申请报废批准</cite>
							</a>
						</li>
					</ul>
				</li>
				<!-- </shiro:hasRole> -->
				
				<!-- <shiro:hasRole name="storehourse"> -->
				<li>
					<a href="javascript:;"> 
						<i class="iconfont">&#xe613;</i> 
						<cite>库存管理</cite>
						<i class="iconfont nav_right">&#xe697;</i>
					</a>
					<ul class="sub-menu">
						<li>
							<a _href="propertyController/showAllProperty.do">
								<i class="iconfont">&#xe6a7;</i>
								<cite>库存资产</cite>
							</a>
						</li>
						<li>
							<a _href="propertyController/showBorrowreturn.do">
								<i class="iconfont">&#xe6a7;</i>
								<cite>资产流动记录</cite>
							</a>
						</li>
					</ul>
				</li>
				<!-- </shiro:hasRole> -->
			</ul>
		</div>
	</div>
</section>