<section>
	<div class="x-nav">
		<span class="layui-breadcrumb"> <a>人员管理</a> <a> <cite>组织管理</cite></a>
		</span> <a class="layui-btn layui-btn-small"
			style="line-height: 1.6em; margin-top: 3px; float: right"
			href="javascript:location.replace(location.href);" title="刷新"> <i
			class="layui-icon" style="line-height: 30px">ဂ</i></a>
	</div>
	<div class="x-body">
		<div class="row">
			<c:forEach items="${DwAs}" var="DWA">
				<div class="col-md-4"  >
				<div class="panel panel-default">
				<div class="panel-heading">${DWA.departName } <div  style="float: right;"><a><i onclick="x_admin_show('修改','manageEmeController/toDeparInfo.do?departId=${DWA.departId}')"  class="layui-icon">&#xe642;</i></a>
						<a  onclick="delUser('${DWA.departId}','${DWA.departName }')" name="close" ><i class="layui-icon">&#xe640;</i></a>
					</div> </div>
					<div class="panel-body">
					<span class="message-title">${DWA.departDesc }</span>
						<hr />
					<table>
						
						<tr>
							<th width="100px">部门权限 </th>
					 		<td>
								<span> ${DWA.authrs} </span>
							</td>
						</tr>	
					</table>
					</div>
				</div>
			</div>
			</c:forEach>
			
			<div class="col-md-4 layui-anim layui-anim-scale" id="add">
				<div class="panel panel-default">
					<div class="panel-heading">添加新的部门</div>
					<div class="panel-body" style="height: 110px;">
							<div style="text-align: center;cursor: pointer;" onclick="x_admin_show('添加新部门','manageEmeController/toDepartAdd.do')">
								<i class="layui-icon" style="font-size: 80px; color: #1E9FFF;">&#xe61f;</i>  
							</div>
					</div>
				</div>
			</div>
			<!-- end 左侧 -->
			<!-- 页面右侧（详细信息）部分 -->
			
			<!-- end 右侧 -->
		</div>
	</div>
</section>