<section>
	<div class="bg"></div>
    <div class="container">
        <div class="line bouncein">
            <div class="xs6 xm4 xs3-move xm4-move">
                <div style="height:90px;"></div>
                <div class="media media-y margin-big-bottom">
                </div>
	            <div class="panel loginbox">
	                <div class="text-center margin-big padding-big-top">
	                    <h1>用户注册</h1>
	                    <h4 style="color:#FF0000" id="erro1"></h4> 
	                </div>
	                <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;">
	                    <div class="form-group">
	                        <div class="field field-icon-right">
	                            <label>用户名：</label>
	                            <input type="text" class="input input-big"  name="userName" id="userName" placeholder="登录账号" />
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <div class="field field-icon-right">
	                        	<label>密码：</label>
	                            <input type="password" class="input input-big" name="password" id="password"  placeholder="登录密码" />
	                        </div>
	                    </div>
	                </div>
	                <div style="padding:30px;">
	                    <input type="button" onclick="javascrtpt:window.location.href='/login'" 
	                    	value="登录" id="ajaxLogin" class="button button-block bg-main text-big input-big halfButton" />
	                    <input type="button" onclick="registerAjax()" 
	                    	value="注册" id="ajaxLogin" class="button button-block bg-main text-big input-big halfButton" />
	                </div>
	            </div>
            </div>
        </div>
    </div>
</section>