<section>
	<div class="x-body">
		<!-- <font color="red">${ifo }</font> -->
		<form class="layui-form" method="post"
			action="propertyController/addProperty.do">
			<div class="layui-form-item">
				<label for="L_repass" class="layui-form-label"><span
					class="x-red">*</span>类型 </label>
				<div class="layui-input-inline">
					</label> <select name="bigtypeName" id="quiz3" lay-filter="myselect2">
						<option value="" selected="selected">请选择类型</option>
						<option value="固定资产">固定资产</option>
						<option value="非实物资产">非实物资产</option>
						<option value="低值易耗损品">低值易耗损品</option>
					</select>
				</div>
			</div>

			<div class="layui-form-item" id="panel">
				<label for="L_repass" class="layui-form-label"><span
					class="x-red">*</span>分类 </label>
				<div class="layui-input-inline">
					<select name="malltypeName" id="quiz4" lay-filter="myselect3">
						<option value="" selected="selected">----从已有分类选择----</option>
						<option value="固定资产">固定资产</option>
						<option value="非实物资产">非实物资产</option>
						<option value="低值易耗损品">低值易耗损品</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item" id="panel2">
				<label for="L_repass" class="layui-form-label"><span
					class="x-red">*</span>分类 </label>
				<div class="layui-input-inline">
					<input name="malltypeName2" type="text" id="L_repass"
						autocomplete="off" class="layui-input" placeholder="输入新的分类">
				</div>
			</div>
			<!-- <div class="layui-form-item">
				<label for="L_repass" class="layui-form-label"> </label>
				<div class="layui-input-inline">
					<a class="layui-btn-warm" id="flip">新增分类</a>
				</div>
			</div> -->
			<div class="layui-form-item" id="panel3">
				<label for="L_repass" class="layui-form-label"><span
					class="x-red">*</span>名称 </label>
				<div class="layui-input-inline">
					<select name="propertyName" id="quiz1" lay-filter="myselect">
						<option value="" selected="selected">----从已有资产选择----</option>
					</select>
				</div>
			</div>

			<div class="layui-form-item" id="panel4">
				<label for="L_repass" class="layui-form-label"><span
					class="x-red">*</span>名称 </label>
				<div class="layui-input-inline">
					<input name="propertyName2" type="text" id="L_repass"
						autocomplete="off" class="layui-input" placeholder="输入新的资产">
				</div>
			</div>
			<!-- <div class="layui-form-item">
				<label for="L_repass" class="layui-form-label"> </label>
				<div class="layui-input-inline">
					<a class="layui-btn-warm" id="flip2">新增资产</a>
				</div>
			</div> -->
			<div class="layui-form-item" id="panel5">
				<label for="L_repass" class="layui-form-label"> <span
					class="x-red">*</span>型号
				</label>
				<div class="layui-input-inline">
					<select name="type" id="quiz2">
						<option value="">----从已有型号选择----</option>
						<option value="杭州">杭州</option>
						<option value="宁波" disabled="">宁波</option>
						<option value="温州">温州</option>
						<option value="温州">台州</option>
						<option value="温州">绍兴</option>
					</select>
				</div>
			</div>

			<div class="layui-form-item" id="panel6">
				<label for="L_repass" class="layui-form-label"><span
					class="x-red">*</span>型号 </label>
				<div class="layui-input-inline">
					<input name="type2" type="text" id="L_repass" autocomplete="off"
						class="layui-input" placeholder="输入新的型号">
				</div>
			</div>
			<!-- <div class="layui-form-item">
				<label for="L_repass" class="layui-form-label"> </label>
				<div class="layui-input-inline">
					<a class="layui-btn-warm" id="flip3">新增类型</a>
				</div>
			</div> -->
			<div class="layui-form-item">
				<label for="L_repass" class="layui-form-label"> </label>
				<button class="layui-btn" type="submit">提交</button>
				<button class="layui-btn" type="button" onclick="returnUserApply()">重置</button>
			</div>
		</form>
	</div>
</section>