<section>
	<div class="x-nav">
		<span class="layui-breadcrumb"> <a>采购管理</a> <a> <cite>采购信息</cite></a>
		</span> <a class="layui-btn layui-btn-small"
			style="line-height: 1.6em; margin-top: 3px; float: right"
			href="porchaseController/showPorchaseByUserName.do" title="刷新"> <i
			class="layui-icon" style="line-height: 30px">ဂ</i></a>
	</div>
	<div class="x-body">
		<div class="layui-row">
			<form class="layui-form layui-col-md12 x-so" method="post" action="porchaseController/showPorchaseByUserName.do">
				<span>快速查询：</span> <input class="layui-input" placeholder="请输入名称"
					name="propertyName"> 
				<button type="submit" class="layui-btn" lay-submit="sreach()" lay-filter="sreach">
					<i class="layui-icon">&#xe615;</i>
				</button>
			</form>
		</div>
		
	<!-- 	<div class="layui-row">
			<form class="layui-form layui-col-md12 x-so" >
				<span>通过时间查询账单：</span> <input class="layui-input"  onClick="WdatePicker()"
							readonly="readonly" value="1900-01-01" 
					name="materialName1" id="porchaseTime1"> <input type="text" name="materialName2" onClick="WdatePicker()"
							readonly="readonly" value="1900-01-01" id="porchaseTime2"
					 autocomplete="off" class="layui-input">
				<button type="button" class="layui-btn" lay-submit="sreach()" lay-filter="sreach" onclick="quaryBill();">
					<i class="layui-icon">&#xe615;</i>
				</button>
				<span>结果为：</span> <input   class="layui-input"  name="ifo" id="ifo"
							readonly="readonly"  >
				
			</form>
		</div> -->
		<xblock>
		<button class="layui-btn"
			onclick="addPorchaseUI()">
			<i class="layui-icon">&#xe608;</i>添加
		</button>
		<span class="x-right" style="line-height: 40px">共有数据：${porchasesNum } 条</span> </xblock>
		<table class="layui-table">
			<thead>
				<tr>
					<th>资产名称</th>
					<th>型号</th>
					<th>数量</th>
					<th>单价</th>
					<th>总价</th>
					<th>申请人</th>
					<th>审核状态</th>
					<th>申请时间</th>
					<th>采购时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<!-- 数据示例 -->
				<tr>
					<c:forEach items="${pageResult.dataList}" var="por">
				<tr>
					<td>${por.propertyName }</td>
					<td>${por.type }</td>
					<td>${por.propertyNum }</td>
					<td>${por.propertyPrece }</td>
					<td>${por.propertyTotalprece }</td>
					<td>${por.userName }</td>
					<td class="td-status"><span
						
						<c:if test="${por.approveState == '同意'}">
						class="layui-btn layui-btn-normal layui-btn-mini"
						</c:if>
						
						<c:if test="${por.approveState == '审核中'}">
						class="layui-btn layui-btn-normal layui-btn-mini layui-btn-disabled"
						</c:if>
						
						>
						<c:if test="${por.approveState == '同意'}">
						已启用
						</c:if>
						<c:if test="${por.approveState == '审核中'}">
						未批准
						</c:if>
						</span></td>
					<td><fmt:formatDate value="${por.applyTime }"
							pattern="yyyy-MM-dd " /></td>
					
					<td><fmt:formatDate value="${por.finishTime }"
							pattern="yyyy-MM-dd " /></td>
					
					
					<td class="td-manage">
					<c:if test="${por.approveState == '审核中'}">
						 <a title="编辑"
						onclick="updatePorchase('${por.porchaseId}')"
						href="javascript:;"> <i class="layui-icon">&#xe642;</i>
					</a> 
					</c:if>
					
					<!-- <a onclick="x_admin_show('修改密码','member-password.html',600,400)"
						title="修改密码" href="javascript:;"> <i class="layui-icon">&#xe631;</i>
					</a> --> </td>
						
				</tr>
			</c:forEach>
				<!-- end 数据示例 -->
			</tbody>
		</table>
		<div align="center" id="jpager"></div>
		<!-- 分页部分 -->
		<!-- <div id="kkpager"></div> -->
		<!-- end 分页 -->
	
	</div>
</section>