<section>
	<div class="x-nav">
		<span class="layui-breadcrumb"> <a>库存管理</a> <a> <cite>流动记录</cite></a>
		</span> <a class="layui-btn layui-btn-small"
			style="line-height: 1.6em; margin-top: 3px; float: right"
			href="propertyController/showBorrowreturn.do" title="刷新"> <i
			class="layui-icon" style="line-height: 30px">ဂ</i></a>
	</div>
	<div class="x-body">
		<div class="layui-row">
			<form class="layui-form layui-col-md12 x-so" method="post"
				action="propertyController/showBorrowreturn.do">

				<span>快速查询：</span>
				<div class="layui-input-inline">
					<select name="propertyName" id="quiz1" lay-filter="myselect">
						<option value="" selected="selected">请选择资产名字</option>
						<c:forEach items="${propertyList}" var="por">
							<option value="${por.propertyName }">${por.propertyName
								}</option>
						</c:forEach>
					</select>
				</div>
				<div class="layui-input-inline">
					<select name="type" id="quiz2">
						<option value="">请选择型号</option>
						<option value="杭州">杭州</option>
						<option value="宁波" disabled="">宁波</option>
						<option value="温州">温州</option>
						<option value="温州">台州</option>
						<option value="温州">绍兴</option>
					</select>
				</div>

				<button type="submit" class="layui-btn" lay-submit="sreach()"
					lay-filter="sreach">
					<i class="layui-icon">&#xe615;</i>
				</button>


			</form>
		</div>
		<xblock> <span class="x-right" style="line-height: 40px">共有数据：${borrowreturnsNum
			} 条</span> </xblock>
		<table class="layui-table">
			<thead>
				<tr>
					<th>资产名称</th>
					<th>型号</th>
					<th>数量</th>
					<th>申请人</th>
					<th>审核状态</th>
					<th>时间</th>
				</tr>
			</thead>
			<tbody>
				<!-- 数据示例 -->
				<tr>
					<c:forEach items="${pageResult.dataList}" var="por"
						varStatus="index">
						<tr>
							<td>${por.propertyName }</td>
							<td>${por.type }</td>
							<td>${por.propertyNum }</td>
							<td>${por.userName }</td>
							<td><span class="layui-btn layui-btn-normal layui-btn-mini">${por.borrowreturnState
									}</span></td>
							<td><fmt:formatDate value="${por.borrowreturnTime }"
									pattern="yyyy-MM-dd " /></td>
						</tr>
					</c:forEach>

					<!-- end 数据示例 -->
			</tbody>
		</table>
		<div align="center" id="jpager"></div>
		<!-- 分页部分 -->
		<!-- <div id="kkpager"></div> -->
		<!-- end 分页 -->
	</div>
</section>