<section>
	<div class="wrapper">
		<div class="container">
			<h1>Welcome</h1>
			<form method="post" class="form">
				<input type="text" value="itdragon" name="username" placeholder="Account"/>
				<input type="password" value="12345678" name="password" placeholder="Password"/>
				<button type="button" id="login-button">Register</button>
			</form>
		</div>
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</section>