<section>
	<div class="wrapper">
		<div class="container">
			<h1>Welcome</h1>
			<form name="registerForm" method="post" class="form">
				<p id="message"></p>
				<input type="text" value="" name="userName" placeholder="UserName"/>
				<input type="password" value="" name="password" placeholder="Password"/>
				<button type="button" id="registerButton">Register</button>
				<br><a style="margin-left: 200px;" href="/shiro/login">login</a>
			</form>
		</div>
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</section>