<section>
	<div class="x-nav">
		<span class="layui-breadcrumb"> <a href="">职工管理</a> <a> <cite>用户管理</cite></a>
		</span> <a class="layui-btn layui-btn-small"
			style="line-height: 1.6em; margin-top: 3px; float: right"
			href="javascript:location.replace(location.href);" title="刷新"> <i
			class="layui-icon" style="line-height: 30px">ဂ</i></a>
	</div>
	<div class="x-body">
		<div class="layui-row">
			<form class="layui-form layui-col-md12 x-so">
				<div class="layui-input-inline">
					<select id="userDepart">
						<option value="">员工所在部门</option>
						<c:forEach items="${departs}" var="depart">
							<option value="${depart.departId }">${depart.departName}
							</option>
						</c:forEach>

					</select>
				</div>
				<div class="layui-input-inline">
					<input id="entry" type="text" name="userEntry" placeholder="入职时间"
						autocomplete="off" class="layui-input">
				</div>
				<div class="layui-input-inline">
					<select id="birthRange">
						<option value="">员工生日</option>
						<option value="30">最近一个月</option>
						<option value="90">最近三个月</option>
						<option value="180">最近半年</option>
					</select>
				</div>
				<div class="layui-input-inline">
					<input type="text" id="userName" placeholder="员工姓名"
						autocomplete="off" class="layui-input">
				</div>

				<a class="layui-btn" lay-submit="" lay-filter="sreach"><i
					class="layui-icon">&#xe615;</i></a>
			</form>
		</div>
		<xblock>
		<button class="layui-btn"
			onclick="x_admin_show('添加用户','manageEmeController/toUserAdd.do')">
			<i class="layui-icon"></i>入职添加
		</button>
		<span class="x-right" style="line-height: 40px">共有数据：<a
			id="total">88</a> 条
		</span> </xblock>
		<table class="layui-table">
			<thead>
				<tr>
					<th>姓名</th>
					<th>所属部门</th>
					<th>职位</th>
					<th>加入时间</th>
					<th>出生日期</th>
					<th>联系方式</th>
					<th>邮箱</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody id="users">
				<tr>
					<td colspan=8>加载中<i class="layui-icon">&#xe63e;</i></td>
				</tr>
			</tbody>
		</table>
		<div id="test1" style="text-align: center"></div>
	</div>
</section>